<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title>Estoque</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container">
        <header>
            <h1>Estoque</h1>
            <hr>
            <div>
                <a href="{{ url_for('index')}}" class="btn btn-info" role="button">Inicio</a>
                <a href="{{ url_for('insert')}}" class="btn btn-info" role="button">Cadastro</a>
                <a href="{{ url_for('list')}}" class="btn btn-info" role="button">Produtos</a>
            </div>
            <br>
        </header>

        
        <form action="{{ url_for('newInsert') }}" method="POST">
            <div class="form-group row">
                <div class="col-xs-4">
                    <label for="usr">Descrição do produto:</label>
                    <input type="text" class="form-control" name="desc">
                </div>
                <div class="col-xs-2">
                    <label for="usr">Qtd:</label>
                    <input type="text" class="form-control" name="qtdEstoque">
                </div>
                <div class="col-xs-2">
                    <label for="usr">Valor:</label>
                    <input type="text" class="form-control" name="vlr">
                </div>
                <div class="col-xs-2">
                    <label for="usr">Grupo:</label>
                    <select class="form-control" name="catProd">
                        {% for categoria in categorias %}
                            <option value="{{ categoria._id }}">{{ categoria.desc }}</option>                        
                        {% endfor %}                        
                    </select>
                </div>
            </div>
            <input type="submit" class="btn btn-primary" value="Salvar">
        </form>
        
    </div>
    </div>

</body>

</html>