<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title>Estoque</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>

<body>
    <div class="container">
        <header>
            <h1>Estoque</h1>
            <hr>
            <div>
                <a href="{{ url_for('index')}}" class="btn btn-info" role="button">Inicio</a>
                <a href="{{ url_for('insert')}}" class="btn btn-info" role="button">Cadastro</a>
                <a href="{{ url_for('list')}}" class="btn btn-info" role="button">Produtos</a>
            </div>
            <br>
        </header>
        <table class="table">
            <tr>
                <th>ID</th>
                <th>Nome do produto</th>
                <th>Quantidade em Estoque</th>
                <th>Valor do produto</th>
                <th>Categoria</th>
                <th>Editar</th>
                <th>Excluir</th>
            </tr>

            {% for produto in produtos %}
            <tr>
                <td>{{ produto._id }}</td>
                <td>{{ produto.desc }}</td>
                <td>{{ produto.qtdEstoque }}</td>
                <td>{{ produto.vlr }}</td>
                <td>{{ produto.catProd }}</td>
                <td><a href="/update/{{ produto._id }}" class="btn btn-primary" role="button">Editar</a></td>
                <td><a href="/delete/{{ produto._id }}" class="btn btn-danger">X</a></td>
            </tr>
            {% endfor %}
        </table>
        <a href="{{  url_for('insert')}}" class="btn btn-success">Insert</a>
    </div>

</body>

</html>