<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title>Estoque</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/style.css" rel="stylesheet">
</head>

<body>
    <div>
        <table>
            <tr>
                <th>ID</th>
                <th>Nome do produto</th>
                <th>Quantidade em Estoque</th>
                <th>Valor do produto</th>
            </tr>
            {% for produto in produtos %}
            <tr>
                <td>{{ produto.id }}</td>
                <td>{{ produto.desc }}</td>
                <td>{{ produto.qtdEstoque }}</td>
                <td>{{ produto.vlr }}</td>
            </tr>
            {% endfor %}
        </table>
        <a href="{{  url_for('insert')}}">Insert</a>
    </div>

</body>

</html>